body {
font-family: 'Cabin', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;

    background-image:url(bed.jpg);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
  	color: white;
  	
}

div.phrase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  position: absolute;
  bottom: 50px;
  left: 40$;
  width: 20%;
  color: white;
}